@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    .Circle{
      @apply w-6 h-6 rounded-[50%] bg-earthy ;
    }
    .W-div{
      @apply max-w-screen-md  w-[90%] sm:w-10/12 md:w-1/2 lg:w-[30%] ;
    }
    .W-modal{
      @apply max-w-screen-md  w-[80%] sm:w-4/6 md:w-1/2 lg:w-1/4  ;
    }
   
  .colorPaper{
   @apply w-5 h-5 mr-1 cursor-pointer rounded-[50%]
  }

  .inputAdd{
    @apply border-b-2 w-full text-xs border-border px-2 py-1 rounded-md bg-earthy-dark outline-none
  }
  .modal-wrapper {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    backdrop-filter: blur(1px);
    background-color: #b3abab40;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}
}

* {
  margin: 0;
  padding: 0;
  user-select: none;
  box-sizing: border-box;
}
#root{
  height: 100%;
}
body,
html {
  height: 100vh;
  width: 100%;
  overflow-x: clip;
  scrollbar-width: none;
  overscroll-behavior-y: contain;
  scroll-behavior: smooth;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* width */
::-webkit-scrollbar {
  width: 0;
}

